.git
.gitignore
__pycache__
*.pyc
*.pyo
.pytest_cache
*.egg-info
dist
build
coverage
.mypy_cache
.ruff_cache
.venv
node_modules
*.xtc
*.trr
*.tpr
*.edr
*.log
*.cpt
*.gro
!automd/data/*.gro
!automd/examples/**/*.gro
*.mdp
!automd/data/**/*.mdp
test/test_output*
test/simulation_test*
test/real_test*
analysis/
*.md
!README.md
